<div class="sidebar-module sidebar-module-inset">
    <h5>About Us</h5>
    <p>{{@blog.description}}</p>
    <a href="http://tevpro.com/contact" class="btn btn-outline-primary btn-sm" title="Hire Us">Hire Us</a>
</div>
<div class="sidebar-module sidebar-module-inset">
    <h5>Popular Tags</h5>
    {{#get "tags" limit="20" include="count.posts" order="count.posts desc"}}
        {{#if tags}}
            {{#foreach tags}}
                <a href="{{url}}" title="{{name}}" class="tag label-tag">{{name}}</a>
            {{/foreach}}
        {{/if}}
    {{/get}}
</div>
<div class="sidebar-module sidebar-module-inset pb-0">
    <h5>Community</h5>
    <ol class="list-unstyled community-links">
        <li><a href="http://www.odtug.com/">ODTUG</a></li>
        <li><a href="http://www.hyperionepm.com/">Hyperion EPM</li>
        <li><a href="http://fishingwithfdmee.blogspot.com/">fishing with FDMEE</a></li>
        <li><a href="http://www.jasonwjones.com/">jason's hyperion blog</a></li>
        <li><a href="http://hyperionfinn.blogspot.com/">The Finnish Hyperion Guy</a></li>
        <li><a href="http://camerons-blog-for-essbase-hackers.blogspot.com/">Cameron's Blog For Essbase Hackers</a></li>
        <li><a href="https://hyperionbarbie.wordpress.com/">Kate Helmer's (HYPERIONBARBIE) Blog</a></li>
        <li><a href="http://www.orahyplabs.com/">Celvin Kattookaran's Blog</a></li
    </ol>
</div>